@{
}

<!--Confirmation page once a movie has been submitted-->
<h2>Your movie has been saved!</h2><br />

<!--Button back to Add Movie page-->
<form method="get">
    <button type="submit">Add Another Movie</button>
</form>