@{
    ViewData["Title"] = "Delete Movie";
}

<!--Connect to the model-->
@model Movies

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete @Model.title?</h3>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit" class="btn">Delete</button>
    <a asp-controller="Home" asp-action="ListMovies" class="btn-primary">Cancel</a>

    <input type="hidden" asp-for="movieId" />  <!--Grab the movieId so we know which one to delete-->
</form>